// colors
$background-color: #FEFAE0; // Amarillo pálido
$primary-color: #283618; // Verde oscuro
$secondary-color: #DDA15E; // Naranja claro
$accent-color: #BC6C25; // Naranja oscuro

// estados
$succes-color: #606C38;


// $warning-color: #FCA13A;
$warning-color: #FFF4E2;


$info-color: #FFD09C;
$error-color: #FC8C0C;

//Text colors
$primary-text-color: #E17900; 
$secondary-text-color: white;

// Fuentes
$font-family-header: 'Raleway', sans-serif;
$font-family-base: 'Nunito', sans-serif; 

// Tamaños de fuente
$font-size-button: 20px;

// Animaciones
$animation-duration: 1.5s; // Duración
$animation-easing: linear; // Modo de velocidad
$animation-fill-mode: forwards; // Modo de llenado



// #FFF4E2
// #FFE9CC

// #FDB766
// #FB931D

// #E17900
// #C86A00
// #AE5A00